*{
    margin: 0;
    padding: 0;
    background-color:forestgreen
}
.wraper>div{
    background-color: aqua;
    border-radius: 5px
}
.wraper2>div{
    background-color:aquamarine;
    border-radius: 5px
}


.wraper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1%;
    grid-row: 1;
    height: 80px;
    margin: 1%;
      
}
.wraper2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 100px;
    grid-gap: 1%;
    margin:1%
}
@media only screen and(max-width:768px){
    
    wraper2{
        grid-template-columns: repeat(2,1fr);
        
    }
}

.slider{
    height: 600px;
    width: 1200px;
    overflow: hidden;
    border: 10px solid #fff;
}
.middle{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    
}
.nav{
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%)
}

.bar{
    height: 8px;
    width: 30px;
    margin:6px;
    cursor: pointer;
    background-color: #ddd;
    opacity: .5;
    border-radius: 10px;
    transform: all .4s ease;
    
}
.bar:hover{
    opacity: 0.8;
    transform: scale(1.1);
}










