body{
    background-image: #700000;
    background-size: 100%;
    background-attachment: fixed;
}
#grid {
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 2vw;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
}
#grid > div {
    width: 66ch;
    font-size: 20px;
    padding: 1em;
    margin: 10px 1px;
    background-color:#803527;
    text-align: center;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid orange;
    animation: fl-border 0.75s ease infinite,
        print 4s steps(66);
    
    
    
}
@keyframes fl-border{
    0%{
        border-color: orange;
    }
     50%{
        border-color: transparent;
    }
     100%{
        border-color: orange;
    }
    
}
@keyframes print{
    from{
        width: 0;
    }
    
}
@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.swing:hover {
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
}


#grid2 {
    display: grid;
    grid-template-rows: 2fr;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 2vw;
}
#grid2 > div {
    font-size: 20px;
    padding: 1em;
    background-color:#803321;
    text-align:justify;
    animation: swing 1s ease;
}
img {
    display: block;
    max-width: 100%;
}
.grow:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.train {
  position: relative;
  cursor: pointer;
  width: 177px;
  height: 160px;
  left: 100px;
  transition: left 5s cubic-bezier(.5, -1, .5, 2);
}
